html, body {
    height: 100%;
    background-repeat: no-repeat;
    background-image: url("post.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.back {

    height: 100%;
    background-repeat: no-repeat;
    background-image: url("cork.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tooDo{
    min-height: 100px;
    background-color: rgba(212, 1, 1, 0.53);
    margin: 10px;
    border-radius: 7px;
    padding: 5px;
    overflow: overlay;
}

.inProcess{
    min-height: 100px;
    background-color: rgba(255, 255, 0, 0.53);
    margin: 10px;
    border-radius: 7px;
    padding: 5px;
    overflow: overlay;
}

.done{
    min-height: 100px;
    background-color: rgba(0, 128, 0, 0.53);
    margin: 10px;
    border-radius: 7px;
    padding: 5px;
    overflow: overlay;
}

h3, h1{
    text-align: center;
    text-decoration: underline;
    font-family: monospace;
    font-weight: 600;
    margin-top: 10px;

}

h1{
    margin-top: 50px;
}

h4{
   text-decoration: underline;
}

#profile-img{
    border-radius: 100%;
}

#loggyIn{
    background-color: rgba(255, 255, 255, 0.90);
    min-width: 300px;
    min-height: 400px;
    display: flex;
    justify-content: space-around;
    border-radius: 30px;
}

input{
    min-width: 180px;
}


/*POP UP BOX*/

.white_content {
  display: none;
  position: absolute;
  top: 25%;
  width: 50vw;
  height: 50vh;
  padding: 16px;
  border: 25px solid rgba(0, 0, 0, 0.86);
  background-color: white;
  z-index: 1002;
  overflow: auto;
}
/*END OF POP UP BOX*/
#newPost {
    border: 1px solid black;
    min-height: 20px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

#newPosty{

    display: flex;
    justify-content: space-around;
    height: 37vh;
}

img{
    height: 50px;
    width: 50px;
}

#trash{
    height: 20px;
    width:20px;
}

#profile-img{
    height: 120px;
    width: 120px;
}

#title{
    display: flex;
}

#logOutBut{
    margin-bottom: 5vh;
}

/*BUTTON SHIT*/
.button {
  outline: none;

  margin-bottom: 5px;

  -webkit-border-radius: 5px;
  -webkit-transition: -webkit-box-shadow .1s ease-in-out;
}

.button span {

    -webkit-background-size: 100%, 100%, 100%, 4px 4px;

    -webkit-border-radius: 5px;
    -webkit-transition: -webkit-transform .1s ease-in-out;
    display: inline-block;
    padding: 1px 5px 1px 5px;

    color: #3A474D;
    font-family: monospace;
    font-size: 20px;

    text-shadow: 0px 1px #fff, 0px -1px #262F33;
}
.button span:hover {
  outline: none;

     color: blue;
     cursor: pointer;
}

.button:active span{
  outline: none;

   -webkit-transform: translate(0, 3px); /* depth of button press */
}
/*END OF BUTTON SHIT*/
/*COLUMNS*/
#toDoCol, #inProcessCol, #doneCol {

    min-height: 150px;
}

